.welcomeBannerContainer {
  color: #ebefef;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 20px 0 50px 0;
  justify-content: center;
}

/* .logo {
  margin-top: 1.45rem;
} */

.goldSubsectionTitle {
  color: #d1a16c;
  font-family: "Playball";
  margin-top: 1.45rem;
  text-align: center;
}

.whiteSubsectionTitle {
  color: #d1a16c;
  font-family: "Playball";
  margin-top: 1.45rem;
  text-align: center;
}

.welcomeBannerSubtitle {
  font-family: "Raleway";
}

.subtitle {
  font-family: "Playball";
}

.centering {
  text-align: center;
}

.white {
  background-color: #ebefef;
}

.whiteText {
  color: #ebefef;
}

.gold {
  background-color: #d1a16c;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.introCopy {
  max-width: 32rem;
  margin: auto;
  text-align: center;
}

.bioCopy {
  max-width: 26rem;
}

.galleryImage {
  flex: 1 0 46%;
  margin: 0 1rem 2rem 1rem;
}

.instagramIcon {
  margin-left: 1rem;
}

.noBullets {
  list-style-type: none;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
