.welcomeBannerContainer {
  background-color: #263f39;
  color: #ebefef;
  text-align: center;
}

.welcomeBannerTitle {
  color: #d8a062;
  font-family: "Playball";
  margin-top: 1.45rem;
  font-size: 4rem;
}

.goldSubsectionTitle {
  color: #d8a062;
  font-family: "Playball";
  margin-top: 1.45rem;
  text-align: center;
}

.whiteSubsectionTitle {
  color: #d8a062;
  font-family: "Playball";
  margin-top: 1.45rem;
  text-align: center;
}

.welcomeBannerSubtitle {
  font-family: "Raleway";
}

.subtitle {
  font-family: "Playball";
}

.centering {
  text-align: center;
}

.white {
  background-color: #ebefef;
}

.gold {
  background-color: #d8a062;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bioCopy {
  max-width: 26rem;
}

.galleryImage {
  flex: 1 0 46%;
  margin: 0 1rem 2rem 1rem;
}

.instagramIcon {
  margin-left: 1rem;
}
